@import 'reset.css';
*,*::after,*::before {
    margin: 0;
    padding: 0;
}
div.box {
    width:300px;
    height: 300px;
    border:1px solid red;
}
div.child-2 {
    margin-top: 50px;
}
/* div.child-1 {
    padding-top: 5px;
    padding-left: 5px;
    background-color: aqua;
} */
p.text {
    padding-top: 5px;
    padding-left: 5px;
    background-color: aqua;
    border: 1px solid red;
}